<div class="inner">
    {{ page.top }}
    <div class="portfolio" id="projects">
        <div class="container">
            {{ page.tab }}{{ page.content }}
        </div>
    </div> 
    {{ page.bottom }}
    {{ page.footer }}          
</div>