<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="utf-8" />    
    <meta name="keywords" content="个人主页，个人简历，个人作品，作品集展示，Portfolio，个人网站，简历，设计作品，面试作品集，界面设计作品集，APP作品集，网页作品集，ICON图标作品集，海报设计作品集，lOGO作品集，淘宝电商设计，Banner作品集">
    <meta name="description" content="思酷原创设计(sskoo.com)提供原创设计作品集，提供个人网页、个人网站定制开发，提供有竞争力的作品和作品集展示网站，并提供一整套从作品到个人网站前端和后台开发工作，个人网站一条龙服务，做到满意为止！">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/themes/me/favicon.ico">    
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <link rel="stylesheet" href="/themes/me/css/bootstrap.min.css">
    <link rel="stylesheet" href="/themes/me/fonts/gilroy/gilroy.css">
    <link rel="stylesheet" href="https://sskoo.com/cdn/zxf.css">
    <link rel="stylesheet" href="/themes/me/css/animate.min.css">
    <link rel="stylesheet" href="/themes/me/css/aos.css">
    <link rel="stylesheet" href="/themes/me/css/m5.css">

    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body>  
    {{ page }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <script src="/themes/me/js/jquery.js"></script>
    <script src="/themes/me/js/bootstrap.min.js"></script>
    <script src="/themes/me/js/plugins.js"></script>
    <script src="/themes/me/js/aos.js"></script>
    <script src="/themes/me/js/jquery.validate.min.js"></script>
    <script src="/themes/me/js/custom.js"></script> 

  </body>
</html>