<div class="container">
  <div class="node-tit">
    <h1{{ title_attributes.addClass('text-center') }}>{{ label }}</h1>
    {% if display_submitted %}
      <div{{ author_attributes.addClass('text-center') }}>
        {# <small>{{ author_name }} / {{ date }}</small> #}
        {{ metadata }}
      </div>
    {% endif %}
  </div>

  <div{{ content_attributes.addClass('node-body') }}>
    {{ content }}
  </div>
</div>